# Required and installed libraries
# --------------------------------------------------------------------------------------------# 
tqdm==4.64.0
torch==1.11.0+cpu
numpy==1.21.5
pandas==1.4.2
torchvision==0.12.0+cpu
# --------------------------------------------------------------------------------------------# 